<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:* José de Jesús Morales Dominguez, Keysi Fuentes Piña.

**Fecha:** 7 de febrero del 2024.

**Expediente** : 742298, 740476.
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: https://github.com/JMlrales/ProyectoConjunto_MoralesJ_FuentesK

# Tarea 2: Clase 5

## Tarea 2
> Descripción de la tarea

In [63]:
import numpy as np

### Ejercicio 1: Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

Código de solución estudiante 1

In [64]:
# Código de solución estudiante 1
texto='the notion of a lambda function goes all the way back to the origin of computer science'
espaciado=texto.split(' ')
w=list(filter(lambda x: len(x)==4,espaciado))
w

['goes', 'back']

Código de solución estudiante 2

In [30]:
# Código de solución estudiante 2
texto='the notion of a lambda function goes all the way back to the origin of computer science'

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........

### Ejercicio 2: Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80`

In [80]:
# Código de solución estudiante 1
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
temperatures
farh=list(filter(lambda x: x>=32 and x<=80,temperatures))
porc=(len(farh)/len(temperatures))*100
porc

46.666666666666664

In [16]:
#Código de solución estudiante 2

### Ejercicio 3: Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations

> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [86]:
# Código de solución estudiante 1
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)

[[17 97]
 [22 33]
 [37 46]
 [57 28]
 [11 25]
 [14  2]
 [74 16]
 [12 37]
 [35 21]
 [66 65]
 [86 58]
 [67 81]
 [ 0 48]
 [28 66]
 [76 22]
 [46 47]
 [64  7]
 [88 94]
 [65 13]
 [75 89]
 [23 17]
 [36 63]
 [62 36]
 [64 17]
 [18 19]
 [88 41]
 [21 49]
 [98 36]
 [81 73]
 [62 90]]

In [18]:
# Código de solución estudiante 2

### Ejercicio 4: Find all of the numbers from 1-1000 that are divisible by 7

In [109]:
# Código de solución estudiante 1
number = np.arange(1,1001)
# Resultado usando for tradicional
divi=[]
for n in number:
    if n%7==0:
        divi.append(n)
print(f'Los números divisibles entre 7 son:{divi}')
# Resultado usando compresión de listas

Los números divisibles entre 7 son:[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [20]:
#Código de solución estudiante 2

### Ejercicio 5: Find all of the numbers from 1-1000 that have a 3 in them

In [22]:
# Código de solución estudiante 1

In [23]:
# Código de solución estudiante 2

### Ejercicio 6:  Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![imagen.png](attachment:imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

In [24]:
# Código de solución estudiante 1
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

In [25]:
#Código de solución estudiante 2
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

### Forma alternativa

In [27]:
# Creando una función que incremente en 10 euros si el pedido es menor a 100 estudiante 1

In [26]:
# Creando una función que incremente en 10 euros si el pedido es menor a 100 estudiante 2

### Ejercicio 7: La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de orden, cantidad total de pedido). Nuevamente, tenga en cuenta que si el pedido debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.  Utilice la función `Reduce`.

In [28]:
# Código de solución del estudiante 1
orders = [ [1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

In [29]:
# Código de solución del estudiante 2
orders = [ [1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]